@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$main-font: 'Roboto Condensed', sans-serif;
$logo-font: 'DotGothic16', sans-serif;
$secondary-font: 'Open Sans', sans-serif;